.signature {
  margin: 1em;
}

.signature code {

  overflow-x: auto;
}

/* 
h2 {
  visibility: hidden;
  height: 0pt;
  margin-bottom: 0pt;
  margin-bottom: 0pt;
} */

.parametersHeader {
  font-size: 1.3rem;
  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom)* var(--ifm-leading));
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top)* var(--ifm-leading));
}

.signature code {
  display: block;
  padding: 1em;
  color: #959595;
  padding-left: 3em;
  text-indent: -2em;
}

.signatureName {
  color: var(--ifm-color-primary-darker);
  font-weight: bold;
}

.signatureParam {
  word-wrap: normal;
}

.sourceLink {
  float: right;
  color: var(--color-primary-fainter);
  text-indent: initial;
}

.parameters {
  padding: 0 2em;
}

.param {
  padding: 0em 0 0.2em 1em;
  /* border: 1pt solid #cacaca; */
  border-top: none;
  border-radius: 0 0 .5rem .5rem;
  margin: 0 0 1em 1em;
  /* background: #f5f5f5; */
}

.paramName {
  font-weight: bold;
}

h4 {
  line-height: 1.7em;
}

@media screen and (max-width: 530px) {

  .parameters {
    padding: 0;
  }

  .param {
    padding-left: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 430px) {
  .signature {
    margin-left: 0;
    margin-right: 0;
  }
}

.details {
  overflow: auto;
}


.default {
  color: gray;
  float: right;
}


.crossRef>span {
  color: var(--color-primary-faint);
}


.typstRef:after {
  content: '☍';
  color: var(--color-primary-fainter);
  padding-left: .1em;
}