.wrapper {
  display: flex;
  flex-wrap: wrap;
  place-items: stretch;
  gap: 12px;
  margin: 0 0 var(--ifm-spacing-vertical);
}

.preview {
  background: var(--code-preview-background);
  border-radius: 6px;
  padding: 12px 16px;
  flex-basis: fit-content;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  margin: 0;
  display: flex;
  overflow-x: auto;
  min-width: 300px;
  flex-grow: 1;
  box-shadow: 1pt 1pt 6pt var(--color-shadow);
}


.code>div:nth-child(1) {
  flex: 1;
  margin-bottom: 0pt;
}

.code>div:nth-child(1)>div:nth-child(1) {
  flex: 1;
  height: 100%
}




.code>div:nth-child(1)>div:nth-child(1) pre {
  height: 100%;
}


[data-theme='dark'] .wrapper img {
  filter: invert(88%) hue-rotate(180deg);
}