
.anatomyWrapper {
  margin: 0 auto;
  width: fit-content;
  padding: 1em;
}

.anatomy {
  position: relative;
  max-width: 100%;
}

.anatomy img {
  width: auto;
  height: auto;
  background: white;
}


/* .anatomy svg {
  width: 533.328px;
  height: 403.368px;
} */


[data-theme='dark'] .anatomy code {
  background-color: rgb(7 6 6 / 82%);
}
[data-theme='dark'] .anatomy img {
  filter: invert(88%) hue-rotate(180deg);
}

.annotation {
  position: absolute;
  border: 2pt solid #ae9ecb;
  border-radius: 5pt;
  align-content: center;
}


.annotation a {
  position: absolute;
  white-space: nowrap;
  overflow: visible;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.annotation a code span {
  color: var(--color-primary-faint);
}

.title {
  left: 46.2%;
  top: 5.3%;
  width: 20%;
  height: 8%;
}

.title a {
  top: -1.9em;
}

.ylabel {
  left: 5.5%;
  top: 42%;
  width: 5.5%;
  height: 6.5%;
}

.ylabel a {
  bottom: -1.9em;
}

.yaxis {
  left: 18%;
  top: 20%;
  width: 2.2%;
  height: 9.5%;
  anchor-name: --myAnchor;
}

.yaxis a {
  left: -5em !important;
  top: 0em;
  transform: none !important;
}

.xaxis {
  left: 27.8%;
  top: 75.2%;
  width: 7.2%;
  height: 2.7%;
  anchor-name: --myAnchor;
}

.xaxis a {
  left: .5em !important;
  bottom: -1.9em;
}

.xlabel {
  left: 54%;
  top: 86.5%;
  width: 5%;
  height: 6.5%;
}

.xlabel a {
  bottom: -1.9em;
}

.legend {
  left: 68.7%;
  top: 60.4%;
  width: 24.7%;
  height: 16.2%;
}

.legend a {
  top: -1.9em;
}

.scatter {
  left: 51%;
  top: 62.1%;
  width: 4%;
  height: 5%;
}

.scatter a {
  bottom: -1.9em;
}

.plot {
  left: 58.1%;
  top: 50%;
  width: 4%;
  height: 5%;
}

.plot a {
  top: -1.9em;
}


.errorbar {
  left: 35.9%;
  top: 45.1%;
  width: 4%;
  height: 5%;
}

.errorbar a {
  top: -1.9em;
}

.tick-label {
  left: 91.1%;
  top: 77.8%;
  width: 6%;
  height: 8%;
}

.tick-label a {
  bottom: -1.9em;
  left: -1em;
}


.tick {
  left: 90.6%;
  top: 32%;
  width: 5%;
  height: 5%;
}

.tick a {
  top: -1.9em;
}

.spine {
  left: 84%;
  top: 9%;
  width: 0%;
  height: 5%;
}

.spine a {
  left: 2.2em;
  top: -2.3em;
}



.grid {
  left: 37.7%;
  top: 34.8%;
  width: 5%;
  height: 0%;
}

.grid a {
  left: 2.5em;
  top: -2.3em;
}



@media screen and (max-width: 520px) {
  .annotation {
    border-radius: 3pt;
    font-size: .85rem;
  }

}


@media screen and (max-width: 440px) {
  .annotation {
    border-radius: 2pt;
    border-width: 1.5pt;
    font-size: .75rem;
  }
}
